/* 

GlOBAL SECTION

*/

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  line-height: 1.5;
}

.text-purple {
  color: #7342d6;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  margin: 0 16px;
}

.no__cursor {
  cursor: default;
}

.no__access {
  cursor: not-allowed;
}

.no__event {
  pointer-events: none;
}

/* 

MOBILE MENU SECTION

*/

.btn__menu {
  border: none;
  display: none;
  background: transparent;
  font-size: 40px;
  text-align: center;
  color: #7342d6;
  overflow-x: hidden;
  cursor: pointer;
}

.menu__backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #7342d6, #784cd0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
}

.menu--open .menu__backdrop {
  opacity: 1;
  visibility: visible;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: none;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: ivory;
  text-align: center;
  background: transparent;
}

.menu__links {
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.menu__item {
  list-style: none;
  padding: 32px 0;
}

.menu__links .menu__link {
  text-decoration: none;
  color: ivory;
  font-size: 40px;
  font-weight: bold;
}

/* 

NAVIGATION SECTION

*/

nav {
  background-image: linear-gradient(to right, #ffffff, ivory);
  height: 10%;
  display: flex;
  width: 100%;
  height: 15vh;
}

#nav__landing {
  height: 130vh;
  background-image: linear-gradient(to right, #ffffff, #7343d6);
  min-height: 100vh;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__logo {
  width: 30%;
  margin: 24px 24px;
  height: 75%;
  color: white;
  border-radius: 4px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  margin: 0 16px;
}

.nav__link {
  margin: 0px 24px;
  padding: 8px 0;
  text-decoration: none;
  color: #7342d6;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.nav__link-inner {
  padding: 0 24px;
  display: inline-block;
}

.nav__link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  margin-top: 4px;
  background-image: linear-gradient(to right, #7342d6, #ffffff);
  transition: width 0.3s ease, background-image 0.5s ease;
}

.nav__link:hover::after {
  width: 100%;
  background-image: linear-gradient(to right, #ffffff, #7342d6);
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -3px;
  right: 0;
  left: auto;
  background-color: #7342d6;
  transition: width 0.3s ease;
}
.link__hover-effect:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
  background: #ffffff;
  transition: background 0.3s ease;
  padding: 8px 24px;
}

.nav__link--primary::after {
  display: none;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: #7342d6;
  color: #ffffff;
  transition: background-color 0.5s ease-in-out;
}

.nav__link--primary: active;
 {
}

/*

HEADER SECTION

*/

#header {
  height: 100vh;
}

.header__container {
  width: 100%;
  height: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
  cursor: default;
}
h1 {
  font-size: 56px;
  color: #7342d6;

  text-align: center;
}

h2 {
  font-size: 32px;
  color: #555555;

  text-align: center;
}

button:active {
  transform: translateY(1px) scale(0.99);
}

.btn:hover {
  opacity: 0.9;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #7342d6;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 8px 8px;
  text-align: center;
  transition: opacity ease 0.3s;
}

.header__img--wrapper {
  padding: 0px;
  margin-bottom: 56px;
  z-index: 2;
}

.header__img {
  margin: 24px 0;
}

/* 

HIGHLIGHTS SECTION 

*/

#highlights {
  height: 32vh;
  background-color: white;
  position: relative;
}

#highlights::before,
#highlights::after {
  background: url("/assets/wave.svg");
  content: "";
  position: absolute;
  width: 101vw;
  height: 24vh;
  left: 0px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

#highlights::before {
  top: 1px;
  transform: translateY(-100%);
}

#highlights::after {
  bottom: 1px;
  transform: translateY(100%) rotate(180deg);
}

.book__highlight {
  font-size: 64px;
  animation: book-rotate 1.3s 0s infinite;
}

.container {
  padding: 56px 0px;
}

.row {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.highlight__wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.highlight {
  width: calc(100% / 3);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
}

.highlight__img {
  font-size: 40px;
  color: #7342d6;
  padding: 16px;
  border: 3px solid rgba(115, 66, 214, 0.4);
  border-radius: 2px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.highlight__sub {
  font-weight: bold;
  font-size: 24px;
  font-style: italic;
}

.highlight__para {
  font-size: 18px;
  font-weight: 700;
  color: #555555;
  margin-top: 2px;
  max-width: 200px;
}

/*

FEATURED SECTION 

*/

#features {
  position: relative;
  padding-top: 12vw;
  height: 120vh;
  background-image: linear-gradient(to right, #ffffff, #7343d6);
}

#features::after {
  background: url("/assets/wave.svg");
  content: "";
  position: absolute;
  width: 101vw;
  height: 24vh;
  left: 0px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 1px;
  transform: translateY(1%);
}

.books {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
}

.book {
  width: 25%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.book__img {
  max-height: 380px;
  cursor: not-allowed;
}

.book__img--wrapper {
  margin-bottom: 16px;
  border-radius: 4px;
  width: 75%;
  overflow: hidden;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.book__img--wrapper:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
}

.star__rating {
  color: #f5c518;
  margin-right: 4px;
}

.book__title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: inline-block;
  width: fit-content;
}

.book__title-container {
  margin-top: 16px;
  margin-bottom: 8px;
}

.book__title .link__hover-effect::after {
  background-color: black;
  left: 0;
}

.book__title.link__hover-effect {
  cursor: not-allowed;
}

.book__rating {
  font-weight: bold;
  margin-top: 8px;
  cursor: default;
  margin-bottom: 8px;
}

.book__price {
  color: black;
  font-weight: bold;
  font-size: 20px;
  cursor: default;
}

.book__price--normal {
  text-decoration: line-through;
  color: red;
  font-weight: normal;
  margin-right: 8px;
}

/*

ARRIVALS SECTION 

*/

#new-arrivals {
  position: relative;
  height: 140vh;
}

#new-arrivals::after {
  background: url("/assets/wave.svg");
  content: "";
  position: absolute;
  width: 101vw;
  height: 24vh;
  left: 0px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 1px;
  transform: translateY(100%) rotate(180deg);
}

/* BROWSE BOOKS SECTION */

#browse-books {
  position: relative;
  padding-top: 20vh;
  height: 70vh;
  text-align: center;
  background-image: linear-gradient(to right, #ffffff, #7343d6);
}

#browse-books::after {
  background: url("/assets/wave.svg");
  content: "";
  position: absolute;
  width: 101vw;
  height: 24vh;
  left: 0px;
  bottom: 1px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(1%);
}

.browse__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.browse__title {
  font-size: 40px;
}

.browse__sub {
  font-size: 24px;
  color: #555555;
}

.browse__btn {
  font-size: 20px;
  padding: 12px 24px;
  position: relative;
}

.browse__btn::before {
  content: "Welcome";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.browse__btn:hover {
  color: transparent;
  transition: color 0.1s;
}

.browse__btn:hover::before {
  color: white;
  opacity: 1;
}

.browse__btn:active {
  transform: translateY(2px) scale(0.98);
}

/* FOOTER SECTION */
#footer {
  background-color: white;
  color: #ffffff;
  padding: 16px 8px;
  width: 100%;
  height: 25vh;
}

.footer__container {
  width: 100%;
  max-width: 100vw;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.footer__logo {
  width: 170px;
  margin: 24px 0px;
  padding: 8px;
  color: white;
  background: linear-gradient(to right, white, #7342d6);
  border-radius: 4px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.footer__link {
  font-size: 20px;
  color: #7342d6;
  text-decoration: none;
  margin: 0px;
}

.footer__link .link__hover-effect {
  background-color: #ffffff;
}

.footer__copyright {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 14px;
  color: #aaaaaa;
  cursor: default;
}
/* KEYFRAMES SECTION */

@keyframes book-rotate {
  0%,
  49% {
    transform: scaleX(1);
  }

  50%,
  100% {
    transform: scaleX(-1);
  }
}
/* .btn ripple keyframe */

/*

 MEDIA QUERIES SECTION 
 
 */

@media (max-width: 768px) {
  html {
    max-width: 100vw;
  }
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  #highlights:before,
  #highlights::after,
  #features::after,
  #new-arrivals::after,
  #browse-books::after {
    height: 16vh;
  }
  #new-arrivals {
    height: 110vh;
  }

  #features {
    height: 100vh;
    padding-top: 8vh;
  }
}

@media (max-width: 550px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  .container {
  }
  .nav__link {
    display: none;
  }

  .btn__menu {
    display: block;
    scroll-behavior: none;
  }

  .footer__copyright {
    margin-bottom: 16px;
  }

  .browse__title {
    font-size: 32px;
  }
  .browse__sub {
    font-size: 18px;
  }
  .browse__btn {
    font-size: 16px;
    padding: 10px 20px;
  }
  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
  }

  #features {
    height: 90vh;
  }

  #new-arrivals {
    height: 120vh;
  }

  #browse-books {
    padding-top: 10vh;
    height: 50vh;
  }

  #highlights::before,
  #highlights::after,
  #features::after,
  #new-arrivals::after {
    height: 12vh;
  }

  #features:after {
    transform: translateY(2%);
  }

  #browse-books::after {
    transform: translateY(2%);
    height: 12vh;
  }

  .footer__links {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 320px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  .nav__container {
    padding: 0 12px;
  }

  .nav__logo {
    width: 30%;
    margin: 8px 8px;
  }

  .header {
    height: 50vh;
  }

  .highlight__wrapper {
    height: 40vh;
  }

  .book__highlight {
    font-size: 40px;
  }

  .highlight__img {
    font-size: 30px;
  }

  .highlight__sub {
    font-size: 20px;
    margin-bottom: 0px;
  }

  .highlight__para {
    display: none;
  }
  #highlights::before {
    transform: translateY(-100%);
  }
  #highlights::after {
    transform: translateY(100%) rotate(180deg);
  }

  #highlights:before,
  #highlights::after,
  #features::after,
  #new-arrivals::after,
  #browse-books::after {
    height: 10vh;
  }

  #browse-books::after {
    transform: translateY(2%);
  }

  #features {
    height: 110vh;
  }

  #new-arrivals {
    height: 160vh;
  }

  #browse-books {
    height: 45vh;
  }

  .books {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
  }

  .book {
    width: 50%;
    padding: 6px;
  }

  .book__img--wrapper {
    width: 90%;
    margin-bottom: 8px;
  }

  .book__title {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .book__price {
    font-size: 16px;
  }

  .book__img {
    max-height: 180px;
  }

  .book__rating {
    display: none;
  }

  #browse-books {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }

  .browse__container {
    height: 100%;
    justify-content: center;
  }

  .footer___links {
    width: 50%;
    justify-content: space-around;
    align-items: center;
  }
  .footer__link {
    font-size: 16px;
    width: fit-content;
  }

  .footer__logo {
    width: 140px;
    margin: 16px 0px;
  }

  .footer__copyright {
    font-size: 12px;
  }
}
