/* GlOBAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
}

.text-purple {
  color: #7342d6;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
}
/* NAVIGATION STYLES */

nav {
  height: 80px;
  display: flex;
}

#nav__landing {
  background-color: rgba(115, 66, 214, 0.1);
}

.nav__container {
  color: #ffffff;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__logo {
  width: 200px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  margin: 0 10px;
}

.nav__link {
  margin-left: 16px;
  padding: 4px 12px;
  text-decoration: none;
  color: #7342d6;
  font-size: 20px;
  font-weight: bold;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: #7342d6;
  color: #ffffff;
}

/*HEADER STYLES */

header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  height: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 32px;
  color: #333333;
  margin-bottom: 33px;
  text-align: center;
}
button:active {
  transform: translateY(1px) scale(0.99);
}
.btn {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #7342d6;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  margin: 10px 10px;
  text-align: center;
}

.header__img--wrapper {
  padding: 20px;
}
