/* 

GlOBAL SECTION

*/

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  line-height: 1.5;
}

.text-purple {
  color: #7342d6;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
}

/* 

NAVIGATION SECTION

*/

nav {
  background-color: #ffffff;
  height: 80px;
  display: flex;
  width: 100%;
}

#nav__landing {
  height: 130vh;
  background-color: rgba(115, 66, 214, 0.1);
  min-height: 100vh;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__logo {
  width: 200px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  margin: 0 16px;
}

.nav__link {
  margin-left: 16px;
  padding: 8px 16px;
  text-decoration: none;
  color: #7342d6;
  font-size: 20px;
  font-weight: bold;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  right: 0;
  left: auto;
  background-color: #7342d6;
  transition: width 0.3s ease;
}
.link__hover-effect:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  border-radius: 4px;
  background: #ffffff;
  transition: background 0.3s ease;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: #7342d6;
  color: #ffffff;
  transition: background-color 0.5s ease-in-out;
}

/*

HEADER SECTION

*/

header {
}

.header__container {
  width: 100%;
  height: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  margin-bottom: 16px;
}
h1 {
  font-size: 56px;
  color: #7342d6;

  text-align: center;
}

h2 {
  font-size: 32px;
  color: #555555;

  text-align: center;
}

button:active {
  transform: translateY(1px) scale(0.99);
}

.btn:hover {
  opacity: 0.9;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #7342d6;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 8px 8px;
  text-align: center;
  transition: opacity ease 0.3s;
}

.header__img--wrapper {
  padding: 0px;
  margin-bottom: 56px;
  z-index: 2;
}

.header__img {
  margin: 24px 0;
}

/* 

HIGHLIGHTS SECTION 

*/

#highlights {
  position: relative;
}

#highlights::before,
#highlights::after {
  background: url("/assets/wave.svg");
  content: "";
  position: absolute;
  width: 101vw;
  height: 24vh;
  left: 0px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

#highlights::before {
  top: 1px;
  transform: translateY(-100%);
}

#highlights::after {
  bottom: 1px;
  transform: translateY(100%) rotate(180deg);
}

.container {
  padding: 56px 0px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.highlight__wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.highlight {
  width: calc(100% / 3);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
}

.highlight__img {
  font-size: 40px;
  color: #7342d6;
  padding: 16px;
  border: 3px solid rgba(115, 66, 214, 0.4);
  border-radius: 2px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.highlight__sub {
  font-weight: bold;
  font-size: 24px;
  font-style: italic;
}

.highlight__para {
  font-size: 18px;
  font-weight: 700;
  color: #555555;
  margin-top: 2px;
  max-width: 200px;
}

/*

FEATURED SECTION 

*/

#features {
  padding-top: 12vw;
  height: 150vh;
  background-color: rgba(115, 66, 214, 0.1);
}

.books {
  display: flex;
  margin-top: 56px;
}

.book {
  width: 25%;
  padding: 24px;
}

.book__img {
  max-height: 380px;
  cursor: no-drop;
  transition: all 0.3s ease;
}

.book__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.book:hover .book__img {
  transform: scale(1.03);
}

.star__rating {
  color: #f5c518;
  margin-right: 4px;
}

.book__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #555555;
  width: 52%;
}

.book__title.link__hover-effect::after {
  background-color: black;
  left: 0;
}

.book__title.link__hover-effect {
  cursor: no-drop;
}

.book__price {
  color: #555555;
  font-size: 16px;
}

.book__price--normal {
  text-decoration: line-through;
  color: #999999;
  margin-right: 8px;
}

/* KEYFRAMES SECTION */

/* .btn ripple keyframe */
